.deposit-archive{
    position: relative;

    &__slider{
        position: relative;
        width: calc(100% - 160px);
        margin: 0 auto;
        margin-top: 40px;

        @include media-mdx{
            width: 100%;
        }

        .owl-nav{
            position: absolute;
            top: 15px;
            left: -80px;
            height: 100%;
            width: calc(100% + 160px);
            z-index: 0;

            @include media-mdx{
                position: relative;
                width: 100%;
                left: 0;
                top: auto;
                margin-top: 15px;
            }
        }

        .owl-stage-outer{
            z-index: 1;
        }

        .owl-prev, .owl-next{
            position: absolute;
            width: 80px;
            min-height: 160px;
            background-color: $card-bg;

            @include media-mdx{
                min-height: auto;
                background-color: transparent;
                border: 0 !important;
                width: 40px;
            }

            &:after{
                background-position: center center;
            }
        }

        .owl-prev {
            left: 0;
            border-right: 1px solid $white;
        }

        .owl-next{
            right: 0;
            border-left: 1px solid $white;
        }
    }

    &__slider-item{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 160px;
        padding: 15px 50px 15px 15px;
        margin: 15px 0;
        background-color: $card-bg;
        border-left: 1px solid $white;
        border-right: 1px solid $white;

        @include media-lg{
            padding: 15px;
        }

        @include media-sm{
            justify-content: flex-start;
        }

        @include styled-effect;

        &:hover{
            @include styled-effect-active($white, 15px, 0);

            img{
                filter: brightness(0) invert(1);
            }

            span, b{
                color: $white;
            }
        }
    }

    &__slider-item-start{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 80px;

        img{
            width: auto;
            max-width: 50px;
        }

        span{
            margin: 15px 0 10px 0;
            font-size: 17px;
            font-weight: 600;
            color: $font-dark;
        }
    }

    &__slider-item-end{
        @include media-sm{
            margin-left: 20px;
        }

        p{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 1.8;
            font-weight: 600;
        }

        p + p{
            margin-top: 5px;
        }
    }
}